<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TypeMovementSport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>219DBA78212D037E0052396A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>219DBA90212D03800052396A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>219DBA9B212D03800052396A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
