<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>课程</string>
		<key>iconNormal</key>
		<string>course_normal</string>
		<key>iconSelect</key>
		<string>course_sele</string>
		<key>className</key>
		<string>CourseViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>题库</string>
		<key>iconNormal</key>
		<string>questionBank_normal</string>
		<key>iconSelect</key>
		<string>questionBank_sele</string>
		<key>className</key>
		<string>QuestionBankViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>首页</string>
		<key>iconNormal</key>
		<string>home_normal</string>
		<key>iconSelect</key>
		<string>home_sele</string>
		<key>className</key>
		<string>HomeViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>成绩查询</string>
		<key>iconNormal</key>
		<string>loseFat_normal</string>
		<key>iconSelect</key>
		<string>loseFat_sele</string>
		<key>className</key>
		<string>CerOrRecordQueryViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的</string>
		<key>iconNormal</key>
		<string>mine_normal</string>
		<key>iconSelect</key>
		<string>mine_sele</string>
		<key>className</key>
		<string>MineViewController</string>
	</dict>
</array>
</plist>
