<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>极简运动</string>
		<key>icon</key>
		<string>HP_jjyd</string>
		<key>action</key>
		<string>simpleSport</string>
	</dict>
	<dict>
		<key>title</key>
		<string>极致运动</string>
		<key>icon</key>
		<string>HP_jzyd</string>
		<key>action</key>
		<string>extremeSport</string>
	</dict>
	<dict>
		<key>title</key>
		<string>精品课程</string>
		<key>icon</key>
		<string>HP_jpkc</string>
		<key>action</key>
		<string>excellentCourse</string>
	</dict>
	<dict>
		<key>title</key>
		<string>孕产管理</string>
		<key>icon</key>
		<string>HP_ycgl</string>
		<key>action</key>
		<string>pregnantManage</string>
	</dict>
	<dict>
		<key>title</key>
		<string>减脂塑型</string>
		<key>icon</key>
		<string>HP_gnxxl</string>
		<key>action</key>
		<string>funcTraining</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国职认证</string>
		<key>icon</key>
		<string>HP_gzrz</string>
		<key>action</key>
		<string>certificateQuery</string>
	</dict>
</array>
</plist>
