<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>极简运动</string>
		<key>icon</key>
		<string>HP_gradeQuery</string>
		<key>action</key>
		<string>simpleSport</string>
	</dict>
	<dict>
		<key>title</key>
		<string>减脂塑形</string>
		<key>icon</key>
		<string>HP_loseFat</string>
		<key>action</key>
		<string>loseFatAction</string>
	</dict>
	<dict>
		<key>title</key>
		<string>精品课程</string>
		<key>icon</key>
		<string>HP_elecCard</string>
		<key>action</key>
		<string>showIncreaseVideo</string>
	</dict>
	<dict>
		<key>title</key>
		<string>孕产管理</string>
		<key>icon</key>
		<string>HP_job</string>
		<key>action</key>
		<string>pregnantManage</string>
	</dict>
	<dict>
		<key>title</key>
		<string>功能性训练</string>
		<key>icon</key>
		<string>HP_ recruit</string>
		<key>action</key>
		<string>funcTraining</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国职认证</string>
		<key>icon</key>
		<string>HP_ cerQuery</string>
		<key>action</key>
		<string>certificateQuery</string>
	</dict>
</array>
</plist>
