<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>文章收藏</string>
		<key>icon</key>
		<string>mine_collect</string>
		<key>action</key>
		<string>articleCollection</string>
	</dict>
	<dict>
		<key>title</key>
		<string>试题回顾</string>
		<key>icon</key>
		<string>mine_review</string>
		<key>action</key>
		<string>reviewQuestion</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的培训</string>
		<key>icon</key>
		<string>mine_train</string>
		<key>action</key>
		<string>myTrain</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电子名片</string>
		<key>icon</key>
		<string>mine_elecCard</string>
		<key>action</key>
		<string>electricCard</string>
	</dict>
	<dict>
		<key>title</key>
		<string>线上留言</string>
		<key>icon</key>
		<string>mine_leave</string>
		<key>action</key>
		<string>leaveMessageOnline</string>
	</dict>
	<dict>
		<key>title</key>
		<string>分享好友</string>
		<key>icon</key>
		<string>mine_share</string>
		<key>action</key>
		<string>shareToFriends</string>
	</dict>
	<dict>
		<key>title</key>
		<string>优惠券</string>
		<key>icon</key>
		<string>mine_coupon</string>
		<key>action</key>
		<string>myCoupon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>扫码领券</string>
		<key>icon</key>
		<string>mine_scanQr</string>
		<key>action</key>
		<string>scanQrGetCoupon</string>
	</dict>
	<dict>
		<key>title</key>
		<string>支持我们</string>
		<key>icon</key>
		<string>mine_support</string>
		<key>action</key>
		<string>supportUs</string>
	</dict>
</array>
</plist>
