<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentState</key>
	<array>
		<string>离职-随时到岗</string>
		<string>在职-暂不考虑</string>
		<string>在职-考虑机会</string>
		<string>在职-月内到岗</string>
	</array>
	<key>hopeSalary</key>
	<array>
		<string>面议</string>
		<string>5k以内</string>
		<string>5-10k</string>
		<string>10-15k</string>
		<string>15-20k</string>
		<string>20-50k</string>
		<string>50k以上</string>
	</array>
	<key>workExpYears</key>
	<array>
		<string>应届生</string>
		<string>1年</string>
		<string>2年</string>
		<string>3年</string>
		<string>4年</string>
		<string>5年</string>
		<string>6年</string>
		<string>7年</string>
		<string>8年</string>
		<string>9年</string>
		<string>10年以上</string>
	</array>
	<key>education</key>
	<array>
		<string>初中</string>
		<string>中专</string>
		<string>高中</string>
		<string>大专</string>
		<string>本科</string>
		<string>硕士</string>
		<string>博士</string>
	</array>
	<key>welfare</key>
	<array>
		<string>住房补贴</string>
		<string>五险一金</string>
		<string>交通补助</string>
		<string>绩效奖金</string>
		<string>带薪年假</string>
		<string>节日福利</string>
		<string>通讯补贴</string>
		<string>定期团建</string>
		<string>年度旅游</string>
		<string>美女如云</string>
		<string>帅哥成群</string>
	</array>
	<key>companyScale</key>
	<array>
		<string>0-20人</string>
		<string>20-99人</string>
		<string>100-499人</string>
		<string>500-999人</string>
		<string>1000-9999人</string>
		<string>10000人以上</string>
	</array>
</dict>
</plist>
